/* Join Class Button */
.btns {
  font-family: inherit;
  font-size: 15px;
  background: #0b90e2;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.btns span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btns svg {
  display: block;
  transform-origin: center center; /* Added property */
  transition: transform 0.3s ease-in-out;
}

.btns:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btns:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btns:hover span {
  transform: translateX(5em);
}

.btns:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* Report Button */
.submitbtn {
  display: inline-block;
  border-radius: 10px;
  background-color: #0b90e2;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 50px;
 }
 
.submitbtn span {
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: 0.5s;
 }
 
.submitbtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
.submitbtn:hover span {
  padding-right: 15px;
 }
 
.submitbtn:hover span:after {
  opacity: 1;
  right: 0;
 }
<<<<<<< Updated upstream
/* View Button */
.viewbtn {
  margin-left: 30px;
  margin-top: -15px;
  font-size: 14px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  vertical-align: middle; /* Add this line */
}
 
.viewbtn:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
.viewbtn:active {
  transform: translate(0em, 0.2em);
 }
=======

>>>>>>> Stashed changes
