/* Deactivate Button alignment */
.deactivate{
    margin-top: -73px;
    margin-left: 1400px;
}

.deactivate button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    font-size: 16px;
    font-family: "Fredoka";
    height: 40px;
}
/* Popup bg colour */
.background{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* Popup form bg colour */
.formBox{
    width: 350px;
    height: 360px;
    background-color: #c5c5c5;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 2;
    margin: -210px 0 0 550px;
}
/* Popup form Close Button */
.close-button{
    position: absolute;
    top:0;
    right: 12px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

.formBox h3{
    font-family: "Fredoka";
    font-size: 35px;
    color: #365268;
    text-align: left;
    margin-top: -3px;
}

.formBox img{
    height: 90px;
    width: 90px;
    margin-top: -5px;
}

.deactivate-wording{
    margin-top: 30px;
    font-family: "Mukta Malar";
    color: #365268;
    font-size: 18px;
}

.confirmButton {
    position: relative;
    margin-top: 12px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: "Fredoka";
    font-weight: 500;
    color: rgb(212, 207, 207);
    background-color: rgb(83, 18, 18);
   }
   
   .confirmButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .confirmButton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .confirmButton::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .confirmButton::after {
    background-color: #fff;
   }
   
   .confirmButton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }