.container1 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .offcanvas {
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .progress {
    width: 500px;
    margin: 0 15px 0 15px;
  }
  
  .progress-bar {
    width: 100%;
  }
  
  .sidtask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 17px;
    padding: 10px;
    color: #333;
  }
  
  .profile{
    width: 200px;
    font-size: 17px;
    color: #333;
    margin-left: 20px;

}
.content{
  width: 30px;
  font-size: 17px;
  color: #625e5e;
  margin-left: 30px;
  margin-right: 30px;
}

.comment{
   
    display: flex;
}
/* .container2 {
    min-height: 50px;
    height: 100vh;
    padding: 20px;
    padding: 20px 20px;
    display: inline-flex;
    justify-content: space-between;
    min-height:00px;
    border: 2px solid #c2cdda;
} */
.container3 {
  min-height: 50px;
  padding: 20px;
  padding: 20px 20px;
  display: inline-flex;
  justify-content: center;
  border: 1px solid #c2cdda;
  min-height:00px;
}

.container0 {
  
  display: flex;

}


.comment-below{
    min-width: 590px;
    font-size: 12px;
    

    color: #625f5f;
   
    position: relative;
    text-align: left;
    display: absolute;
    padding-right: 5px;
    word-wrap: break-word;
}
.bottom-content{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    
    padding: 10px 20px;
    
}
.profile-pic{
    cursor: default;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #c2cdda;
    display: flex;
    margin-right: 5px;
    flex-shrink: 0;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



.container4 {
  min-height: 50px;
  width: 100vw;
  padding: 20px;
  padding: 20px 20px;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid #c2cdda;
  min-height:00px;
  
}
